#mainbody {
    background-image :url("../../resources/img/wallpaper.png");
}


#login_form
{
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}

#login-logo{
    width: 200px;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 15px;
}

#username, #password{
    width: 100%;
    margin-bottom: 15px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ADB9C9;
    box-shadow: none;
    background: #EBEFF3;
    font-family: Roboto, sans-serif;
    font-size: 10pt;
}


#login-button
{
    width: 100%;
    height: 32px;
    border-radius: 3px;
    background-color: #03BD5B;
    border: 0px;
    color: white;
    font-family: Roboto Condensed, sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
}