thead > tr {
    background: #03BD5B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #03BD5B , #0081D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #03BD5B, #0081D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #03BD5B, #0081D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #03BD5B, #0081D5); /* Standard syntax */
    background-attachment: fixed;
}

thead > tr > th {
    background: transparent !important;
    border-radius: 0 !important;
    border: 0 !important;
    text-shadow: 0 0 0 #000 !important;
    box-shadow: 0 0 0 #000 !important;
    color: white !important;
    padding: 10px !important;
}

.error-message {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #f66;
    background: #f99;
    border-radius: 5px;
}

.ui-widget > table {
    width: 100%;
}

.ui-widget table td label {
    margin: 0;
}

.ui-widget table input {
    width: 100%;
}

.ui-dialog {
    background: #f5f5f5 !important;
    border: 0 !important;
}

.ui-dialog-titlebar {
    padding: 0.5rem 1rem !important;
    font-family: Roboto Condensed, sans-serif;
    background: #03BD5B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #03BD5B , #0081D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #03BD5B, #0081D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #03BD5B, #0081D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #03BD5B, #0081D5); /* Standard syntax */
    color: white;
    text-transform: uppercase;
}

.ui-dialog-titlebar-close {
    padding: 0.5rem !important;
    margin: 0.5rem 0 !important;
}

.ui-dialog-titlebar-close:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
}

.ui-panel {
    padding: 1rem;
    background: #f5f5f5;
    border: 0;
}

.ui-panel > .ui-panel-titlebar {
    padding: 0 0 0.5rem 0;
    background: none;
    border: 0;
}

.ui-panel > .ui-panel-content {
    padding: 0;
}

.ui-button {
    border-radius: 5px !important;
    border: 0 !important;
    /*color: white !important;*/
    padding: 2px;
}

.ui-button[title="Edit"] {
    background: #66c2ff !important;
}

.ui-button[title="Delete"] {
    background: #ff5c33 !important;
}

.ui-button[title="New"] {
    background: #00cc66 !important;
    margin-bottom: 10px;
}

/* disable outline in chrome */
textarea:focus, input:focus, select:focus, button:focus {
    outline: none;
}

/* disable ugly outlines in firefox */
button::-moz-focus-inner, a::-moz-focus-inner {
    border: 0;
}

button:-moz-focusring, select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    padding: 0 30px 0 10px;
    background-color: white;
    background-image: url( "/resources/img/arrow-down.svg" );
    background-position: right 10px center;
    background-repeat: no-repeat;
    border-color: #ccc !important;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.stamp-button{
    background: #ffffff;
    color: #374355;
    border: 1px solid #374355;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}
.stamp-button:disabled{
    background: transparent;
    color: #374355;
    border: 1px solid #374355;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    float: right;
    cursor: not-allowed;
}

.menubar {
    height: 40px;
}

.menu-dropdown {
    width: 100%;
    height: 40px;
    border: 1px solid #8393A7;
}
.menu-dropdown:active {
    border: 1px solid #53657D;
}

.ui-widget {
    font-family: Roboto,sans-serif;
    font-size: 100%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.row-eq-height .ui-panel {
    height: 100%;
}

[class*="col-"] {
    background-clip: padding-box;
    border-width:5px 0px 5px 0px;
    border-style: solid;
    border-color: transparent;
}

/*Why mainbody, you ask? To easily overwrite the style set by our login css*/
#mainbody {
    background: #ADB9C9;
    font-family: Roboto, sans-serif;
    font-color: #374355;
    font-size: 10pt;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header {
    padding-bottom: 5px;
}

#logout-col {
    line-height: 40px;
}

#logout {
    padding: 5px 15px 5px 15px;
    background: #ADB9C9;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: Roboto Condensed, sans-serif;
    font-size: 10pt;
}
#logout:hover {
    background: white;
    color: #374355;
    text-decoration: none;
}


#header-name{
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #03BD5B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #03BD5B , #0081D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #03BD5B, #0081D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #03BD5B, #0081D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #03BD5B , #0081D5); /* Standard syntax */
    color: white;
    font-size: 12pt;
    border-radius: 5px;
}

.stats-splash{
    background-image :url("../../resources/img/stats.png");
    background-size: cover;
    border: 0;
    color: white;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
    padding: 100px 0px 100px 0px;
    font-size: 27px;
    text-align: center;
}

.stats-splash i{
    font-size: 100px;
    margin-bottom: 10px;
}

.primary-panel-logged-in {
    border: 0px;
    background: #03BD5B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #03BD5B, #0081D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #03BD5B, #0081D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #03BD5B, #0081D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #03BD5B, #0081D5); /* Standard syntax */
}
.primary-panel-logged-out {
    border: 0px;
    background: #D1335B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #D1335B, #0081D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #D1335B, #0081D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #D1335B, #0081D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #D1335B, #0081D5); /* Standard syntax */
}

.primary-panel-font {
    color: white;
    text-align: center;
}
.menu-panel-font {
    color: #374355;
    text-align: center;
}

.ui-selectonemenu {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ui-panel-title{
    font-family: Roboto Condensed, sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 100;
}

.headline{
    color: #ffffff;
    margin-top: 10px;
}
.jqplot-series-canvas {
    background:white;
}

.adminPanelElement {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: 1px solid #8393A7;
}
.ui-datatable-tablewrapper {
    overflow: visible;
}

.adminPanelElement:hover {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: 1px solid #ffffff;
    background: #03BD5B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #03BD5B, #0081D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #03BD5B, #0081D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #03BD5B, #0081D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #03BD5B, #0081D5); /* Standard syntax */
}

.adminPanelElement:hover .menu-panel-font{
    color: white;
    text-decoration: none;
}

@media(max-width:767px){
    #header-name {
        line-height: 30px;
        height: 30px;
    }
    .stats-splash{
        padding: 25px 0px 25px 0px;
    }
    .stats-splash div{
        padding: 25px 0px 25px 0px;
    }
}