<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:th="http://www.thymeleaf.org"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h4 class="headline">CSV</h4>
        <div class="row">
        <div class="col-md-12">
            <p:panel header="CSV Import" class="stretch" height="100%">
                <div>
                    <form method="POST" enctype="multipart/form-data" action="/files" style="padding: 20px;">
                        <p>Bitte eine CSV mit <a style="color: #00cc66;" href="/resources/files/user-upload-example.csv">folgendem Format</a> uploaden</p>
                        <p>
                            <input type="file" name="file" />
                        </p>
                        <p style="text-align: right;">
                            <input class="button btn btn-success" type="submit" value="Upload" />
                        </p>
                    </form>
                </div>
            </p:panel>

            <h:outputText value="#{FileUpload.message}"
                          style="font-size:40pt; font-family:Roboto Condensed, sans-serif;color: #03BD5B"/><br/>
        </div>
        </div>


    </ui:define>
</ui:composition>