<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h4 class="headline">Projekte</h4>
        <p:commandButton update=":projectForm:projectCreateDialog" oncomplete="PF('projectCreateDialog').show()" icon="ui-icon-plus" title="New" value="Neues Projekt">
            <!--<f:setPropertyActionListener value="#{project}" target="#{projectDetailController.project}" />-->
        </p:commandButton>
        <p:commandButton update=":projectAddMemberForm:projectAddMemberDialog" oncomplete="PF('projectAddMemberDialog').show()" icon="ui-icon-plus" title="New" value="Mitglied hinzufügen">
            <!--<f:setPropertyActionListener value="" target="" />-->
        </p:commandButton>
        <p:commandButton update=":projectRemoveMemberForm:projectRemoveMemberDialog" oncomplete="PF('projectRemoveMemberDialog').show()" icon="ui-icon-minus" title="Delete" value="Mitglied entfernen">
            <!--<f:setPropertyActionListener value="" target="" />-->
        </p:commandButton>

        <h:form id="projectForm" >
            <p:dataTable id="projectsTable" var="project" value="#{projectListController.projects}">
                <p:column headerText="Projektname" >
                    <h:outputText value="#{project.name}"/>
                </p:column>
                <p:column headerText="Beschreibung">
                    <h:outputText value="#{project.description}"/>
                </p:column>
                <p:column headerText="Mitglieder">
                    <h:outputText value="#{project.members}" />
                </p:column>
                <p:column style="width:100px;text-align: center">
                    <p:commandButton update=":projectForm:projectEditDialog" oncomplete="PF('projectEditDialog').show()" icon="ui-icon-wrench" title="Edit">
                        <f:setPropertyActionListener value="#{project}" target="#{projectDetailController.project}" />
                    </p:commandButton>
                    <p:commandButton action="#{projectDetailController.doDeleteProject}" icon="ui-icon-trash" title="Delete" update=":projectForm:projectsTable">
                        <f:setPropertyActionListener value="#{project}" target="#{projectDetailController.project}" />
                        <p:confirm header="Confirmation" message="Are you sure that you want to delete this project? You cannot undo this operation." icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:dialog header="Projekt bearbeiten" id="projectEditDialog" widgetVar="projectEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="projectData" rendered="#{not empty projectDetailController.project}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="name" value="Name: " />
                        <p:inputText id="name" value="#{projectDetailController.project.name}"/>
                        <p:outputLabel for="description" value="Beschr.: " />
                        <p:inputTextarea id="description" rows="10" cols="25" value="#{projectDetailController.project.description}"/>
                    </h:panelGrid>

                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" action="#{projectDetailController.doSaveProject()}" oncomplete="PF('projectEditDialog').hide()" update=":projectForm:projectsTable"/>
                        <p:commandButton value="Reload" action="#{projectDetailController.doReloadProject()}" update=":projectForm:projectData"/>
                        <p:commandButton value="Abbrechen" onclick="PF('projectEditDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

            <p:dialog header="Projekt erstellen" id="projectCreateDialog" widgetVar="projectCreateDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="newProjectData">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="newName" value="Name: " />
                        <p:inputText id="newName" value="#{projectCreateController.newProject.name}"/>
                        <p:outputLabel for="newDesc" value="Beschr.: " />
                        <p:inputTextarea id="newDesc" rows="10" cols="25" value="#{projectCreateController.newProject.description}"/>
                    </h:panelGrid>

                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" action="#{projectCreateController.doSaveProject()}" oncomplete="PF('projectCreateDialog').hide()" update=":projectForm:projectsTable :growl"/>
                        <p:commandButton value="Abbrechen" onclick="PF('projectCreateDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

        <h:form id="projectAddMemberForm">
            <p:dialog header="Mitglied hinzufügen" id="projectAddMemberDialog" widgetVar="projectAddMemberDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="MemberData">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="newMemberProject" value="Projekt: " />
                        <h:selectOneMenu class="menu-dropdown" id="newMemberProject" value="#{projectMemberBean.projectName}">
                            <p:ajax listener="#{projectMemberBean.onProjectUpdate}" update="newMemberProject newMember" />
                            <f:selectItem itemLabel="Projekt ausw." itemValue=""/>
                            <f:selectItems value="#{projectMemberBean.allProjectNames}"/>
                        </h:selectOneMenu>
                        <p:outputLabel for="newMember" value="New Member: " />
                        <h:selectOneMenu class="menu-dropdown" id="newMember" value="#{projectMemberBean.memberName}">
                            <p:ajax listener="#{projectMemberBean.onProjectUpdate}" />
                            <f:selectItem itemLabel="Mitglied ausw." itemValue=""/>
                            <f:selectItems value="#{projectMemberBean.allPossibleNewMembers}"/>
                        </h:selectOneMenu>
                    </h:panelGrid>

                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" action="#{projectMemberBean.doAddMemberToProject()}" oncomplete="PF('projectAddMemberDialog').hide()" update=":projectForm:projectsTable :growl"/>
                        <p:commandButton value="Abbrechen" onclick="PF('projectAddMemberDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>

        <h:form id="projectRemoveMemberForm">
            <p:dialog header="Remove Member" id="projectRemoveMemberDialog" widgetVar="projectRemoveMemberDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="RemoveMemberData">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="oldMemberProject" value="Project: " />
                        <h:selectOneMenu class="menu-dropdown" id="oldMemberProject" value="#{projectMemberBean.projectName}">
                            <p:ajax listener="#{projectMemberBean.onProjectUpdate}" update="oldMemberProject oldMember" />
                            <f:selectItem itemLabel="Select Project" itemValue=""/>
                            <f:selectItems value="#{projectMemberBean.allProjectNames}"/>
                        </h:selectOneMenu>
                        <p:outputLabel for="oldMember" value="Old Member: " />
                        <h:selectOneMenu class="menu-dropdown" id="oldMember" value="#{projectMemberBean.memberName}">
                            <p:ajax listener="#{projectMemberBean.onProjectUpdate}" />
                            <f:selectItem itemLabel="Select Member" itemValue=""/>
                            <f:selectItems value="#{projectMemberBean.allMembers}"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Remove" action="#{projectMemberBean.doRemoveMemberFromProject()}" oncomplete="PF('projectRemoveMemberDialog').hide()" update=":projectForm:projectsTable"/>
                        <p:commandButton value="Abort" onclick="PF('projectRemoveMemberDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>

    </ui:define>
</ui:composition>
