<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h4 class="headline">Users</h4>
        <p:commandButton update=":userForm:userCreateDialog" oncomplete="PF('userCreateDialog').show()" icon="ui-icon-plus" title="New" value="Neuer User">
            <f:setPropertyActionListener value="#{newUser}" target="#{userCreateController.user}" />
        </p:commandButton>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check">
                <!-- add delay, to make sure it receives the newest value -->
                <f:ajax delay="50" render=":errorPanel"/>
            </p:commandButton>
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close">
            </p:commandButton>
        </p:confirmDialog>

        <h:form id="userForm">
            <p:dataTable id="usersTable" var="user" value="#{userListController.users}">
                <p:column headerText="Username">
                    <h:outputText value="#{user.userName}"/>
                </p:column>
                <p:column headerText="Vorname">
                    <h:outputText value="#{user.firstName}"/>
                </p:column>
                <p:column headerText="Nachname">
                    <h:outputText value="#{user.lastName}"/>
                </p:column>
                <p:column headerText="E-Mail">
                    <h:outputText value="#{user.email}" />
                </p:column>
                <p:column headerText="Rolle">
                    <h:outputText value="#{user.roles}" />
                </p:column>
                <p:column style="width:100px;text-align: center">
                    <p:commandButton update=":userForm:userEditDialog" oncomplete="PF('userEditDialog').show()" icon="ui-icon-wrench" title="Edit">
                        <f:setPropertyActionListener value="#{user}" target="#{userDetailController.user}" />
                    </p:commandButton>
                    <p:commandButton action="#{userDetailController.doDeleteUser}" icon="ui-icon-trash" title="Delete" update=":userForm:usersTable">
                        <f:setPropertyActionListener value="#{user}" target="#{userDetailController.user}" />
                        <p:confirm header="Sicher?" message="Bist du sicher, dass du diesen User löschen möchtest?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:dialog header="User bearbeiten" id="userEditDialog" widgetVar="userEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="userData" rendered="#{not empty userDetailController.user}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="username" value="Username: " />
                        <p:inputText id="username" value="#{userDetailController.user.userName}" disabled="true"/>
                        <p:outputLabel for="password" value="Passwort: " />
                        <p:password id="password" value="#{userDetailController.user.password}"/>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2">
                        <p:outputLabel for="firstName" value="Vorname " />
                        <p:inputText id="firstName" value="#{userDetailController.user.firstName}"/>
                        <p:outputLabel for="firstName" value="Nachname: " />
                        <p:inputText id="lastName" value="#{userDetailController.user.lastName}"/>
                        <p:outputLabel for="email" value="E-Mail: " />
                        <p:inputText id="email" value="#{userDetailController.user.email}"/>
                        <p:outputLabel for="roles" value="Rolle: " />
                        <p:selectOneMenu id="roles" value="#{userDetailController.selectedRole}">
                            <f:selectItem itemLabel="Student" itemValue="Student" />
                            <f:selectItem itemLabel="Leiter" itemValue="Leiter" />
                            <f:selectItem itemLabel="Admin" itemValue="Admin" />
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" action="#{userDetailController.doSaveUser()}" oncomplete="PF('userEditDialog').hide()" update=":userForm:usersTable"/>
                        <p:commandButton value="Reload" action="#{userDetailController.doReloadUser()}" update=":userForm:userData"/>
                        <p:commandButton value="Abbruch" onclick="PF('userEditDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>


            <p:dialog header="User erstellen" id="userCreateDialog" widgetVar="userCreateDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="newUserData">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="newUsername" value="Username: " />
                        <p:inputText id="newUsername" value="#{userCreateController.newUser.userName}"/>
                        <p:outputLabel for="newPassword" value="Passwort: " />
                        <p:password id="newPassword" value="#{userCreateController.newUser.password}"/>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2">
                        <p:outputLabel for="newFirstName" value="Vorname: " />
                        <p:inputText id="newFirstName" value="#{userCreateController.newUser.firstName}"/>
                        <p:outputLabel for="newLastName" value="Nachname: " />
                        <p:inputText id="newLastName" value="#{userCreateController.newUser.lastName}"/>
                        <p:outputLabel for="mewEmail" value="E-Mail: " />
                        <p:inputText id="mewEmail" value="#{userCreateController.newUser.email}"/>
                        <p:outputLabel for="newRoles" value="Rolle: " />
                        <p:selectOneMenu id="newRoles" value="#{userCreateController.selectedRole}">
                            <f:selectItem itemLabel="Student" itemValue="Student" />
                            <f:selectItem itemLabel="Leiter" itemValue="Leiter" />
                            <f:selectItem itemLabel="Admin" itemValue="Admin" />
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" action="#{userCreateController.doSaveNewUser()}" oncomplete="PF('userCreateDialog').hide()" update=":userForm:usersTable"/>
                        <p:commandButton value="Abbrechen" onclick="PF('userCreateDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

        </h:form>
    </ui:define>
</ui:composition>
