<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">
    <h:panelGroup rendered="#{!sessionInfoBean.userWithoutProject}">
    <a href="/manager/stats.xhtml">
        <div class="row">
            <div class="col-md-12">
                <p:panel class="stats-splash">
                    <div class="text-center primary-panel-font">
                        <i class="fa fa-line-chart"/><br/>Zu den Statistiken
                    </div>
                </p:panel>
            </div>
        </div>
    </a>
    </h:panelGroup>
    <h:panelGroup rendered="#{sessionInfoBean.userWithoutProject}">
        <p:panel class="stats-splash">
            <div class="text-center primary-panel-font">
                <i class="fa fa-warning"/><br/>Du bist keinem Projekt zugeteilt. Ein Fall für den Admin
            </div>
        </p:panel>
    </h:panelGroup>
</ui:composition>