<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://java.sun.com/jsf/composite">
    <h:panelGroup rendered="#{!sessionInfoBean.userWithoutProject}">
    <div class="row row-eq-height">

        <!-- Stamp Card -->
        <div class="col-md-6">
            <p:panel class="default-size"
                     styleClass="#{stampBean.stamped ? 'primary-panel-logged-in' : 'primary-panel-logged-out'}">
                <div class="primary-panel-font">
                    <h:outputLabel style="font-size: 30pt;" rendered="#{stampBean.stamped}"><i
                            class="fa fa-thumbs-up"/></h:outputLabel>
                    <h:outputLabel style="font-size: 30pt;" rendered="#{!stampBean.stamped}"><i
                            class="fa fa-thumbs-down"/></h:outputLabel><br/>
                    <h:outputText style="font-size: 20pt;text-transform: uppercase"
                                  value="#{stampBean.currentUserRealName}"/><br/>
                    <h:outputText
                            style="font-size: 10pt;text-transform: uppercase; font-family: Roboto Condensed, sans-serif;"
                            value="Hart bei der Arbeit" rendered="#{stampBean.stamped}"/>
                    <h:outputText
                            style="font-size: 10pt;text-transform: uppercase; font-family: Roboto Condensed, sans-serif;"
                            value="Nicht bei der Arbeit" rendered="#{!stampBean.stamped}"/><br/>
                    <div style="padding-top: 10px;overflow:hidden">
                        <h:form id="stamp-card" action="secured/dash.xhtml">
                        <h:selectOneMenu class="menu-dropdown" id="job" value="#{stampBean.job}" disabled="#{stampBean.noJobs}"
                                         rendered="#{!stampBean.stamped}">
                            <p:ajax listener="#{stampBean.onJobChange}" update="stamp-card"/>
                            <f:selectItem itemLabel="Job auswählen" itemValue="0"/>
                            <f:selectItems value="#{stampBean.allJobs}"/>
                        </h:selectOneMenu>
                            <h:commandButton title="Job auswählen und Stempeln. Kein Job = kein Stempeln" value="#{stampBean.buttonText}" actionListener="#{stampBean.stamp}" rendered="#{!stampBean.stamped}" disabled="#{stampBean.stampDisabled}"
                                             styleClass="stamp-button" update=":growl" />
                            <h:commandButton title="Job auswählen und Stempeln. Kein Job = kein Stempeln" value="#{stampBean.buttonText}" actionListener="#{stampBean.stamp}" rendered="#{stampBean.stamped}"
                                             styleClass="stamp-button" update=":growl" />
                        </h:form>
                    </div>
                </div>
            </p:panel></div>


        <!-- Total time Card -->
        <div class="col-md-6"><p:panel header="Deine Gesamtzeit" class="stretch" height="100%">
            <br/>
            <div class="text-center">
                <h:outputText value="#{studentTimeBean.totalTime}"
                              style="font-size:40pt; font-family:Roboto Condensed, sans-serif;color: #03BD5B"/><br/>
                <h:outputText value="seit Beginn des Projekts"
                              style="font-family: Roboto Condensed, sans-serif; font-size: 15px;"></h:outputText>
            </div>
        </p:panel></div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p:panel header="Deine Zeiten" class="stretch" height="100%">
            <p:dataTable id="timessTable" var="time" type="ordered" value="#{studentTimeBean.timesList}">
                <p:column headerText="Datum" >
                    <h:outputText value="#{time.date}"/>
                </p:column>
                <p:column headerText="Job" >
                    <h:outputText value="#{time.job}"/>
                </p:column>
                <p:column headerText="Dauer" >
                    <h:outputText value="#{time.duration}"/>
                </p:column>
            </p:dataTable>
        </p:panel>
        </div>
    </div>
    </h:panelGroup>
    <h:panelGroup rendered="#{sessionInfoBean.userWithoutProject}">
        <p:panel class="stats-splash">
            <div class="text-center primary-panel-font">
                <i class="fa fa-warning"/><br/>Du bist keinem Projekt zugeteilt. Ein Fall für den Admin
            </div>
        </p:panel>
    </h:panelGroup>
</ui:composition>