<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">
    <div class="row">
        <div class="col-md-12">
            <p:panel class="stats-splash">
                <div class="text-center primary-panel-font">
                    <i class="fa fa-cog"/><br/>Willkommen im Admin panel. Bitte Menüpunkt auswählen
                </div>
            </p:panel>
        </div>
    </div>
</ui:composition>