<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
>

    <h:head>
        <title>Tempo</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300,400" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </h:head>

    <h:body id="mainbody">
        <h:outputStylesheet name="css/style-main.css" />
        <div id="page" class="container">

            <div id="header">
                <ui:include src="/WEB-INF/includes/header.xhtml"/>
            </div>

            <div id="content">
                <ui:insert name="content">Content</ui:insert>
            </div>

        </div>

    </h:body>
</html>