<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">

        <h:form>
            <p:panel header="Invalid Session">
                Sitzung abgelaufen.&nbsp;<a style="color: #03BD5B;" href="/login.xhtml">Neu einloggen</a>
            </p:panel>
        </h:form>

    </ui:define>
</ui:composition>