<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">

        <!-- Dash for Students -->
        <h:panelGroup rendered="#{!sessionInfoBean.hasRole('MANAGER')}">
            <ui:include src="includes/dash-student.xhtml"/>
        </h:panelGroup>

        <!-- Dash for Managers -->
        <h:panelGroup rendered="#{sessionInfoBean.hasRole('MANAGER') and !sessionInfoBean.hasRole('ADMIN')}">
            <ui:include src="includes/dash-manage.xhtml" rendered="#{!sessionInfoBean.hasRole('MANAGER')}" />
        </h:panelGroup>

        <!-- Dash for Admin -->
       <h:panelGroup rendered="#{sessionInfoBean.hasRole('ADMIN')}">
           <ui:include src="includes/dash-admin.xhtml" rendered="#{!sessionInfoBean.hasRole('MANAGER')}" />
    </h:panelGroup>
    </ui:define>
</ui:composition>