<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h4 class="headline">Jobs</h4>
        <p:commandButton update=":jobForm:jobCreateDialog" oncomplete="PF('jobCreateDialog').show()" icon="ui-icon-plus" title="New" value="New Job">
            <f:setPropertyActionListener value="#{job}" target="#{jobDetailController.job}" />
        </p:commandButton>

        <h:form id="jobForm">
            <p:dataTable id="jobsTable" var="job" value="#{jobListController.jobs}">
                <p:column headerText="Name">
                    <h:outputText value="#{job.name}"/>
                </p:column>
                <p:column headerText="Beschreibung">
                    <h:outputText value="#{job.description}"/>
                </p:column>
                <p:column headerText="Projekt">
                    <h:outputText value="#{job.project}"/>
                </p:column>
                <p:column style="width:100px;text-align: center">
                    <p:commandButton update=":jobForm:jobEditDialog" oncomplete="PF('jobEditDialog').show()" icon="ui-icon-wrench" title="Edit">
                        <f:setPropertyActionListener value="#{job}" target="#{jobDetailController.job}" />
                    </p:commandButton>
                    <p:commandButton action="#{jobDetailController.doDeleteJob}" icon="ui-icon-trash" title="Delete" update=":jobForm:jobsTable">
                        <f:setPropertyActionListener value="#{job}" target="#{jobDetailController.job}" />
                        <p:confirm header="Confirmation" message="Are you sure that you want to delete this job? You cannot undo this operation." icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:dialog header="Job bearbeiten" id="jobEditDialog" widgetVar="jobEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="jobData" rendered="#{not empty jobDetailController.job}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="name" value="Name: " />
                        <p:inputText id="name" value="#{jobDetailController.job.name}"/>
                        <p:outputLabel for="description" value="Beschr.: " />
                        <p:inputTextarea id="description" rows="10" cols="25" value="#{jobDetailController.job.description}"/>
                        
                        <p:outputLabel for="editProject" value="Project: " />
                        <h:selectOneMenu class="menu-dropdown" id="editProject" value="#{jobDetailController.project}">
                        	<f:selectItem itemLabel="Projekt ausw." itemValue="" noSelectionOption="true" />
                        	<f:selectItems value="#{jobDetailController.possibleProjects}" />
                    	</h:selectOneMenu>  
                    </h:panelGrid>

                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" action="#{jobDetailController.doSaveJob()}" oncomplete="PF('jobEditDialog').hide()" update=":jobForm:jobsTable"/>
                        <p:commandButton value="Reload" action="#{jobDetailController.doReloadJob()}" update=":jobForm:jobData"/>
                        <p:commandButton value="Abbrechen" onclick="PF('jobEditDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

            <p:dialog header="Job erstellen" id="jobCreateDialog" widgetVar="jobCreateDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="newJobData">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="newName" value="Name: " />
                        <p:inputText id="newName" value="#{jobCreateController.newJob.name}"/>
                        <p:outputLabel for="newDesc" value="Beschreibung: " />
                        <p:inputTextarea id="newDesc" rows="10" cols="25" value="#{jobCreateController.newJob.description}"/>
                        
                        <p:outputLabel for="newProject" value="Project: " />
                        <h:selectOneMenu class="menu-dropdown" id="newProject" value="#{jobCreateController.project}">
                        	<f:selectItem itemLabel="Select Project" itemValue="" noSelectionOption="true" />
                        	<f:selectItems value="#{jobCreateController.possibleProjects}" />
                    	</h:selectOneMenu>                      
                    </h:panelGrid>

                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="Save" action="#{jobCreateController.doSaveJob()}" oncomplete="PF('jobCreateDialog').hide()" update=":jobForm:jobsTable"/>
                        <p:commandButton value="Abort" onclick="PF('jobCreateDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

        </h:form>
    </ui:define>
</ui:composition>
