<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
        template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <h4 class="headline">Statistiken</h4>
        <h:panelGroup rendered="#{sessionInfoBean.hasRole('MANAGER') and !sessionInfoBean.hasRole('ADMIN')}">
            <h:form>
                <div class="row">
                    <div class="col-md-6 col-sm-12 menubar">
                        <div id="header-name">#{sessionInfoBean.currentUserRealName}</div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h:selectOneMenu class="menu-dropdown" id="project" value="#{statsBean.project}">
                            <p:ajax listener="#{statsBean.onProjectChange}" update="user stats"/>
                            <f:selectItem itemLabel="Select Team" noSelectionOption="true"></f:selectItem>
                            <f:selectItems value="#{statsBean.projectsOfLeader}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h:selectOneMenu id="user" class="menu-dropdown" value="#{statsBean.student}">
                            <p:ajax listener="#{statsBean.onStudentChange}" update="user stats"/>
                            <f:selectItem itemLabel="Select User" noSelectionOption="true"></f:selectItem>
                            <f:selectItems value="#{statsBean.correspondingStudents}" var="member" itemValue="#{member}" itemLabel="#{member.firstName} #{member.lastName}"/>
                        </h:selectOneMenu>
                    </div>

                </div>
            </h:form>
        </h:panelGroup>
        <h:panelGroup id="stats" rendered="#{sessionInfoBean.hasRole('MANAGER') and !sessionInfoBean.hasRole('ADMIN')}">
            <h:panelGroup rendered="#{!statisticsController.showCharts}">
                <div class="row">
                    <div class="col-md-12">
                        <p:panel class="stats-splash">
                            <div class="row text-center primary-panel-font">
                                <div class="col-md-4"><i class="fa fa-users"/><br/>Team auswählen</div>
                                <div class="col-md-4"><i class="fa fa-user"/><br/>Nutzer auswählen</div>
                                <div class="col-md-4"><i class="fa fa-line-chart"/><br/>Enjoy</div>
                            </div>
                        </p:panel>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{statisticsController.showCharts}">
                <div class="row">
                    <div class="col-md-12">
                        <p:panel style="height:50px;"><h:form id="form">
                            <h:panelGroup style="float: right; flex: auto; color: #03BD5B"><i
                                    class="fa fa-hourglass-start"/>&#160;&#160;
                                <p:calendar id="popup" value="#{statisticsController.from}"/>&#160;&#160;

                                <i class="fa fa-hourglass-end" style="color: #D1335B"/>&#160;&#160;
                                <p:calendar id="popup2" value="#{statisticsController.to}"/>&#160;&#160;
                                <p:commandButton value="Submit" icon="ui-icon-check" id="nonAjax"
                                                 actionListener="#{statisticsController.buttonAction}" ajax="false"/>
                            </h:panelGroup>
                        </h:form>
                        </p:panel>
                    </div>
                </div>
                <div class="row row-eq-height">

                    <div class="col-md-12 col-lg-6">
                        <p:panel header="Arbeitsstunden - #{statsBean.student}" class="stretch" height="100%">
                            <p:chart type="bar" model="#{statisticsController.barModel}"
                                     style="height:300; width: 400;"/>
                        </p:panel>
                    </div>

                    <div class="col-md-12 col-lg-6"><p:panel styleClass="text-center"
                                                             header="Woran hat #{statsBean.student} gearbeitet?"
                                                             class="stretch" height="100%">
                        <p:chart type="pie" model="#{statisticsController.pieModel1}" style="width:400px;height:300px"/>
                    </p:panel></div>

                    <div class="col-md-12 col-lg-6">
                        <p:panel header="Arbeitsteilung - #{statsBean.project}" class="stretch" height="100%">
                            <p:chart type="pie" model="#{statisticsController.pieModel3}"
                                     style="height:300px; width: 400px;"/>
                        </p:panel>
                    </div>


                    <div class="col-md-12 col-lg-6"><p:panel header="Verglichen mit seinem Team?" class="stretch"
                                                             height="100%">
                        <p:chart type="pie" model="#{statisticsController.pieModel2}" style="width:400px;height:300px"/>
                    </p:panel></div>


                </div>

            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
</ui:composition>