<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>
<ui:composition>
    <p:growl id="growl" sticky="true"></p:growl>
    <!--Render the whole top Menu only when logged in -->
    <h:panelGroup rendered="#{sessionInfoBean.loggedIn}">
        <div class="row" id="header">
            <!-- Start of the logo/logout header-->
            <div class="col-md-6 col-6">
                <a href="/secured/dash.xhtml"><img src="../../resources/img/logo.png" height="40" alt="logo"/></a>
            </div>
            <div class="col-md-6 col-6 text-right" id="logout-col">
                <h:form action="/logout">
                    <a href="/logout" id="logout">Log out</a>
                </h:form>

            </div>
            <!--End of Logo/Logout header-->
        </div>
        <!-- Start of New Menu-->
        <h:panelGroup rendered="#{sessionInfoBean.hasRole('ADMIN')}">
            <div class="row row-eq-height">
            <div class="col-md-3 col-6"><a href="/admin/users.xhtml"><p:panel class="stretch" height="100%"
                                           styleClass="adminPanelElement">

                    <i class="fa fa-user menu-panel-font"></i>
                    <h6 class="menu-panel-font">Benutzer</h6>

            </p:panel></a></div>

            <div class="col-md-3 col-6"><a href="/admin/projects.xhtml"><p:panel class="stretch" height="100%"
                                           styleClass="adminPanelElement">

                    <i class="fa fa-book menu-panel-font"></i>
                    <h6 class="menu-panel-font">Projekte</h6>

            </p:panel></a></div>
            <div class="col-md-3 col-6"><a href="/manager/jobs.xhtml"><p:panel class="stretch" height="100%"
                                           styleClass="adminPanelElement">

                    <i class="fa fa-suitcase menu-panel-font"></i>
                    <h6 class="menu-panel-font">Arbeitspakete</h6>

            </p:panel></a></div>
            <div class="col-md-3 col-6"><a href="/admin/csvupload.xhtml"><p:panel class="stretch" height="100%"
                                           styleClass="adminPanelElement">

                    <i class="fa fa-upload menu-panel-font"></i>
                    <h6 class="menu-panel-font">CSV Upload</h6>

            </p:panel></a></div>
            </div>
        </h:panelGroup>

        <h:panelGroup rendered="#{sessionInfoBean.hasRole('MANAGER') and !sessionInfoBean.hasRole('ADMIN')}">
            <div class="row row-eq-height">
                <div class="col-md-6 col-6"><a href="/manager/jobs.xhtml"><p:panel class="stretch" height="100%"
                                                                                   styleClass="adminPanelElement">
                    <i class="fa fa-suitcase menu-panel-font"></i>
                    <h6 class="menu-panel-font">Jobs bearbeiten</h6>
                </p:panel></a></div>
                <div class="col-md-6 col-6"><a href="/manager/stats.xhtml"><p:panel class="stretch" height="100%"
                                                                                     styleClass="adminPanelElement">
                    <i class="fa fa-suitcase menu-panel-font"></i>
                    <h6 class="menu-panel-font">Statistiken</h6>
                </p:panel></a></div>
            </div>
        </h:panelGroup>

    </h:panelGroup>
</ui:composition>
</body>
</html>

