<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:outputStylesheet name="css/style-login.css" />
        <div id="login-logo">
        <img src="/resources/img/logo.png" id="login-logo"></img></div>
        <form id="login_form" action="#{request.contextPath}/login" method="post">

                <p:inputText id="username" type="text" required="true" placeholder="username"/>
                <p:inputText id="password" type="password" required="true" placeholder="password"/>

            <button type="submit" id="login-button" class="ui-button">
                <span class="ui-button-text">einloggen</span>
            </button>
        </form>
    </ui:define>
</ui:composition>